name: tf-lint
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  tflint:
    uses: clouddrove/test-tfsec/.github/workflows/tflint.yaml@1.0.6
    secrets:
      GITHUB: ${{ secrets.GITHUB }}
  tfsec:
    uses: clouddrove/github-shared-workflows/.github/workflows/tfsec.yml@1.0.6
    secrets: inherit
    with:
      working_directory: '.'
  tf-checks-complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.6
    with:
      working_directory: './_examples/complete/'
  tf-checks-basic-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@1.0.6
    with:
      working_directory: './_examples/basic/'
